@charset "utf-8";

@import "sidebar.css";

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #add18f;
}

.background {
	overflow:scroll;
	width: 95%;
	height: 95%;
	margin: 15px;
	padding: 15px;
	background-color: #fafae5;
}
.background::-webkit-scrollbar {
  display: none;
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid gray;
	height: 93px;
}

.sign {
	list-style: none;
	display: flex;
	flex-direction: column-reverse;
}

.logo_sm {
	width: 120px;
	height: 81px;
}

.info {
	width: 140px;
	height: 39px;
}

.avatar {
	background: white;
	width: 32px;
	height: 32px;
	border: 2px solid black;
	border-radius: 50%;
}

a.nav-link {
	padding: 0px;
}

h1 {
	font-family: 'MaruBuriBold';
}

header {
	text-align: right;
}

.title {
	font-family: 'NanumBarunGothic';
	font-size: 25px;
}

.sub {
	font-family: 'NanumBarunGothic';
}

p {
	font-family: 'NanumBarunGothic';
	font-size: 16px;
}

.text {
	font-family: 'NanumBarunGothic';
	font-size: 15px;
}

.copyright {
	text-align: center;
}

div.main {
	margin: 8%;
}

img.logo {
	width: 250px;
	margin: auto;
	display: block;
}

div.search-bar {
	width: 60%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	}