@charset "UTF-8";

.center {
	text-align: center;
}

.card-img-top {
/* 	object-fit: cover; */
	height: 150;
	/* 	object-fit: cover; */
}

.stylee {
	width: 209px;
	height: 350px;
	margin-left: 17px;
/* 	margin-right: 17px; */
	margin-bottom:30px;
	display: inline-block;
}

button.active {
	background-color: blue;
	color: white; 
}

.card {
	width: 209px;
	height: 300px;
}
		 
.card-text {
	font-size: 11px;
}

.row{
	margin-left: 124px;
}