@charset "UTF-8";

.intro {
  /* 	margin-right: 54px; */
  margin-right: 243px;
}

.image-lay {
  margin-left: 145px;
  margin-right: 54px;
}

h1 {
  margin: auto;
}

.bookIntro {
  max-height: 225px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤만 표시 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-left: none;
  border-right: none;
  padding: 10px; /* 내부 여백 설정 */

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.bookIntro::-webkit-scrollbar {
  display: none;
}

.bottom {
  margin-left: 40px;
}
