#notificationIcon {
	/* 알림 아이콘 스타일링 */
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#notificationList {
	/* 알림 목록 스타일링 */
	max-height: 100px;
	overflow-y: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 50px;
	right: 20px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: none; /* 기본적으로 숨김 none;  항상표시 block */
}

.notification-item {
     position: relative; /* 삭제 아이콘의 상대적 위치를 설정하기 위함 */
    display: flex; /* 요소들을 가로로 정렬 */
    justify-content: space-between; /* 내용과 삭제 버튼 사이의 공간을 균등하게 분배 */
    align-items: left; 
    /* 기존의 스타일 */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
 
 	
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
     margin-right: 50px;
    margin-bottom: 20px;
    padding: 15px 0 10px 30px;
}

.delete-button {
	 cursor: pointer;
    position: relative;
    top: 0;
    right: 15px;
    margin-left: 15px; /* 삭제 아이콘과 텍스트 사이 간격 */
}

.delete-icon {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	/* 필요에 따라 추가 스타일 속성 추가 */
}

#notificationList li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
}

#notificationList li:last-child {
	border-bottom: none;
}