@charset "UTF-8";

nav {
	overflow: hidden;
	position: fixed;
	transform: translateX(-140px);
	height: 85%;
	width: 300px;
	transition: all 800ms cubic-bezier(.8, 0, .33, 1);
	border-radius: 0% 0% 0% 0%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
}

nav.nav-open {
	transform: translateX(0px);
	border-radius: 0% 0% 0% 0%;
	background: rgba(255, 255, 255, 0.8);
}

nav * {
	z-index: 101;
}

nav .menu-btn {
	position: absolute;
	top: 3%;
	right: 3%;
	padding: 0;
	width: 30px;
	cursor: pointer;
}

nav .menu-btn .icon1 {
	transform: rotate(0);
}

nav .menu-btn .icon1.icon2 {
	transform: rotate(0.5turn);
}

nav .search-bar {
	margin-right: auto;
	margin-left: 17px;
	width: 140px;
	height: 31px;
}

nav .search-bar.open {
	width: 253px;
}

nav #searching {
	height: 26px;
	padding: 3px;
	font-size: 13px;
}

nav #searchIco {
	width: 24px;
	height: 24px;
}
nav .nav-cat{
	position: relative;
	z-index: 103;
}
nav .nav-cat * {
	margin: 7px;
}

nav .cate-box {
	border: 3px solid blue;
	margin: 7px 18px;
}

nav .b-cat {
	width: 126px;
	height: 25px;
	font-size: 15px;
	border: 3px solid red;
	margin-left: auto;
}

nav .b-cat.open {
	margin-left: 7px;
	margin-right: auto;
	border: 3px solid red;
}

nav .s-cat {
	display: none;
	font-size: 12px;
	width: 213px;
	height: 48px;
	margin-left: auto;
	text-align: justify;
}

nav .b_cat.open .s_cat {
	display: inline-block;
}

nav .s-cat .box {
	display: inline-block;
}

nav .s-cat * {
	margin: 0px;
}

nav .s-cat a {
	margin: 10px 12px 0px;
}

a:hover {
	color: black;
}