@charset "UTF-8";

nav {
	overflow: hidden;
	position: fixed;
	transform: translateX(-85%) translateY(-15px);
	height: 100%;
	width: 300px;
	transition: all 800ms cubic-bezier(.8, 0, .33, 1);
	border-radius: 5%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
}

nav.nav-open {
	overflow: scroll;
	transform: translateX(-30%) translateY(-15px);
	border-radius: 0% 0% 0% 0%;
	background: rgba(255, 255, 255, 0.8);
}
nav.nav-open::-webkit-scrollbar {
  display: none;
}

nav * {
	z-index: 101;
}

nav .menu-btn {
	position: absolute;
	top: 3%;
	right: 3%;
	padding: 0;
	display: inline-block;
	cursor: pointer;
}
.menu-btn p{
	display: inline;
}

nav.nav-open .search-bar {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

nav #searching {
	height: 26px;
	padding: 3px;
	font-size: 13px;
}

nav #searchIco {
	width: 24px;
	height: 24px;
}

nav .nav-cat{
	z-index: 103;
}
nav .nav-cat * {
	margin: 7px;
}

nav .cate-box {
	border: 3px solid blue;
	margin: 7px 18px;
}

nav .b_cat {
	width: 126px;
	height: 25px;
	font-size: 15px;
	border: 3px solid gray;
	margin-right: auto;
}

nav .b_cat.open {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid red;
}

#genre{
	width: auto;
}

#browse-category{
	margin-left: -60px;
}

nav.nav-open #browse-category{
	margin-left: 0;
	margin-right: auto;
}

summary{
	list-style-type:none;
	border: 2px solid gray;
	border-radius: 3px;
	width: 126px;
	height: 25px;
}

nav summary.m_cat{
	margin-left: 30px;
}

#search-btn {
	width: 3vw;
	height: auto;
	padding: 1px;
}

#searching {
	border: none;
}