<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.bookbook.mapper.BestMapper">
	<select id="getTotalCount" resultType="int">
		select count(*) from best
	</select>
	<select id="getTotalCount2" resultType="int">
		SELECT COUNT(*)
		FROM best
		where genre like '%소설%' or genre like '%SF%';
	</select>
	<select id="getTotalCount3" resultType="int">
		select count(*) from best
		where genre like '%만화%' or genre like '%동화%' or genre like '%그림%';
	</select>
	<select id="getTotalCount4" resultType="int">
		select count(*) from best
		where genre not like '%소설%' and genre not like '%만화%' and genre not
		like '%SF%' and genre not like '%동화%' and genre not like '%그림%';
	</select>
	<select id="getTotalCount5" resultType="int">
		select count(*) from best
		where (publication_date like '%10월%' or publication_date like '%11월%')
		and publication_date like '%2023년%';
	</select>
	<select id="getTotalCount6" resultType="int">
		select count(*) from best
		where (publication_date like '%9월%' or publication_date like '%10월%'
		or publication_date like '%11월%') and publication_date like '%2023년%';
	</select>

	<select id="getList" resultType="BestVO">
		select column1, title, author,
		images
		from best
		limit 11
	</select>
	<select id="getList2" resultType="BestVO">
		select column1, title, author,
		images
		from best
		where classi=2
		limit 11
	</select>
	<select id="getList3" resultType="BestVO">
		select column1, title, author,
		images
		from best
		where classi=3
		limit 11
	</select>
	<select id="getList4" resultType="BestVO">
		select column1, title, author,
		images, genre
		from best
		where classi=4
		limit 11
	</select>
	<select id="getList5" resultType="BestVO">
		select column1, title, author,
		images
		from best
		where dateNum=1
		limit 11
	</select>
	<select id="getList6" resultType="BestVO">
		select column1, title, author,
		images
		from best
		where dateNum2=1
		limit 11
	</select>


	<select id="get" resultType="BestVO">
		select * from best
		where column1 =
		#{column1}
	</select>


	<select id="getListWithPaging"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images
from best
limit 11
]]>
	</select>
	<select id="getListWithPaging2"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images
from best
where classi=2
limit 11
]]>
	</select>
	<select id="getListWithPaging3"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images
from best
where classi=3
limit 11
]]>
	</select>
	<select id="getListWithPaging4"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images, genre
from best
where classi=4
limit 11
]]>
	</select>
	<select id="getListWithPaging5"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images
from best 
where dateNum=1
limit 11
]]>
	</select>
	<select id="getListWithPaging6"
		resultType="org.bookbook.domain.BestVO">
<![CDATA[
select column1, title, author, images
from best
where dateNum2=1
limit 11
]]>
	</select>

	
</mapper>	