<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookbook.mapper.BookSearchMapper">

	<select id="read"
		parameterType="org.bookbook.domain.BookSearchVO" resultType="BookVO">
		SELECT DISTINCT b.*
		FROM book b
		JOIN book_keyword bk ON b.book_id =
		bk.book_id

		<where>
			<if test="bookType != null and bookType.length > 0">
				AND b.genre IN
				<foreach item="type" collection="bookType" open="("
					separator="," close=")">
					#{type}
				</foreach>
			</if>


			<if
				test="selectedCategories != null and selectedCategories.length > 0">
				AND b.category IN
				<foreach item="type" collection="selectedCategories"
					open="(" separator="," close=")">
					#{type}
				</foreach>
			</if>

			<if test="Topics != null and Topics.length > 0">
				AND b.Topic IN
				<foreach item="type" collection="Topics" open="("
					separator="," close=")">
					#{type}
				</foreach>
			</if>

			<if test="keywords != null and keywords.length > 0">
				AND (
				<foreach item="keyword" collection="keywords"
					separator="AND">
					bk.keywords LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
				)
			</if>
		</where>

		LIMIT 100

	</select>


	<select id="getTopic" resultType="TopicVO">
		SELECT * from book_topics;
	</select>

	<select id="getGenre" resultType="GenreVO">
		SELECT * from book_genres;
	</select>

	<select id="getListPaging" resultType="BookVO">
		SELECT b.book_id, b.title, b.author, b.publisher, b.genre, b.category,
		b.Topic, bi.image_url, bk.keywords
		FROM book b
		LEFT JOIN book_image bi
		ON b.book_id = bi.book_id
		LEFT JOIN book_keyword bk
		ON b.book_id =
		bk.book_id

		<where>
			<!-- Dynamic conditions for bookType -->
			<if test="bookType != null and bookType.length > 0">
				AND b.genre IN
				<foreach item="type" collection="bookType" open="("
					separator="," close=")">
					#{type}
				</foreach>
			</if>

			<!-- Dynamic conditions for selectedCategories -->
			<if
				test="selectedCategories != null and selectedCategories.length > 0">
				AND b.category IN
				<foreach item="category" collection="selectedCategories"
					open="(" separator="," close=")">
					#{category}
				</foreach>
			</if>

			<!-- Dynamic conditions for Topics -->
			<if test="topics != null and topics.length > 0">
				AND b.Topic IN
				<foreach item="topic" collection="topics" open="("
					separator="," close=")">
					#{topic}
				</foreach>
			</if>

			<!-- Dynamic conditions for keywords -->
			<if test="keywords != null and keywords.length > 0">
				AND (
				<foreach item="keyword" collection="keywords"
					separator="AND">
					bk.keywords LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
				)
			</if>
		</where>
		LIMIT #{skip}, #{amount}

	</select>

	<!-- 게시물 총 개숫 -->
	<select id="getTotal-old" resultType="int">
		select count(*) from book
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from book_keyword WHERE keywords LIKE CONCAT('%', #{keywordParam}, '%') 
	</select>
	
	<select id="selectBooksByIds" resultType="BookVO">
	    SELECT * FROM book b
	    JOIN book_image bi ON bi.book_id = b.book_id
	    WHERE b.book_id IN
	    <foreach collection="list" item="id" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</select>
	
	<select id="selectBestBook" resultType="BestVO">
	SELECT * FROM best
	limit 5
	</select>
	
	<select id="selectBookById" resultType="BookVO">
	SELECT * from book b
	join book_image bi
	on b.book_id = bi.book_id
	where b.book_id = #{bookId}
	</select>
	
	<insert id="insertHistory">
	    insert into book_history (user_id, book_id)
	    values (#{user_id}, #{book_id})
	</insert>


	<!-- 좋아요 부분 -->

	<insert id="addLike" parameterType="LikeVO">
		INSERT INTO like_list
		(user_id, book_id) VALUES (#{userId}, #{bookId})
	</insert>

	<select id="getLikes" parameterType="String" resultType="LikeVO">
		SELECT
		ll.user_id, ll.book_id, b.title, b.author, b.publisher, b.genre,
		b.category, b.Topic, bi.image_url
		FROM like_list ll
		LEFT JOIN book b ON ll.book_id = b.book_id
		LEFT JOIN book_image bi ON b.book_id = bi.book_id
		WHERE ll.user_id = #{userId};
	</select>
	
	
    <delete id="deleteLike" parameterType="org.bookbook.domain.LikeVO">
        DELETE FROM like_list
        WHERE user_id = #{userId} AND book_id = #{bookId}
    </delete>

</mapper>
