<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bookbook.mapper.FollowerMapper">


	<!-- FollowerVO 결과 매핑 -->
	<resultMap id="followerMap"
		type="org.bookbook.domain.FollowerVO">
		<id property="followId" column="follow_id" />
		<result property="followerId" column="follower_id" />
		<result property="followingId" column="following_id" />
		<result property="createdAt" column="created_at" />
	</resultMap>

	<!-- 팔로우 추가 -->
	<insert id="insert"
		parameterType="org.bookbook.domain.FollowerVO">
		INSERT INTO follow (follower_id, following_id)
		VALUES
		(#{followerId}, #{followingId})
	</insert>

	<!-- 팔로우 삭제 -->
	<delete id="delete">
		DELETE FROM follow WHERE follow_id = #{followId}
	</delete>

	<!-- 사용자의 팔로워 목록 조회 -->
	<select id="findFollowersByUserId" resultMap="followerMap">
		SELECT * FROM
		follow
		WHERE following_id = #{userId}
	</select>

	<!-- 사용자가 팔로우하는 목록 조회 -->
	<select id="findFollowingsByUserId" resultMap="followerMap">
		SELECT * FROM
		follow
		WHERE follower_id = #{userId}
	</select>

	<!-- 두 사용자 간의 팔로우 관계를 조회 -->
	<select id="findFollowByUserIds" parameterType="map"
		resultMap="followerMap">
		SELECT * FROM follow
		WHERE follower_id = #{followerId} AND following_id = #{followingId}
	</select>

</mapper>