<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.bookbook.mapper.RatingMapper">

	<select id="getRatingList" resultType="int">
		select avg(rating) from
		best_rating
		where column1 = #{column1}
	</select>

	<insert id="addRating">
		insert into best_rating(rating, user_id, column1)
		values
		(#{rating}, #{userId}, #{column1} )
		
	</insert>

</mapper>  