<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bookbook.mapper.ReviewMapper">
	<select id="get" resultType="ReviewVO">
		select rating_review from best_rating
		where
		column1 = #{column1}
	</select>

	<insert id="create">
		insert into best_rating (rating_id, user_id,
		rating_review, column1)
		values(#{ratingId}, #{userId}, #{ratingReview}, #{column1})
	
	</insert>

</mapper>