<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bookbook.mapper.ReviewMapper">
	<select id="get" resultType="ReviewVO">
		select * from book_rating
		where
		book_id = #{book_id}
	</select>

	<insert id="create">

		insert into book_rating (rating_id, user_id, rating_review)
		values(#{rating_id}, #{user_id}, #{rating_review})
	</insert>

</mapper>